.content {
  color: #fff;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;
}
.content__lead {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 76.875%;
}
.content__title {
  width: 73.172%;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}
.content__summary {
  align-self: center;
  width: 73.172%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}
.content__photo {
  display: flex;
  justify-content: center;
}
.content__image {
  width: 76.875%;
  height: 33%;
}

.content__intro {
  display: flex;
  flex-direction: column;
  width: 64.844%;
  margin-left: calc(100vw * 0.115625);
}
.content__subtitle {
  width: 100%;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}
.content__paragraph-1 {
  width: 88.916%;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
.content__author {
  width: 88.194%;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  font-weight: 400;
}
.content__paragraph-2 {
  width: 86.989%;
  font-size: 16px;
  line-height: 26.08px;
  font-weight: 400;
}

.content__photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  width: 92.5%;
  gap: 16px 16px;
  margin-top: 1.96%;
}
.content__picture {
  object-fit: fill;
}

.content__places {
  width: 77.11%;
  align-self: center;
  margin-top: 1.53%;
  display: grid;
  row-gap: 1.36%;
  grid-template-rows: repeat(4, 1fr);
}

.content__places-place {
  width: 99.697%;
  display: grid;
  column-gap: 4.656%;
  /* margin-top: 2.376%; */
  box-sizing: content-box;
  grid-template-columns: repeat(2, 1fr);
}
.content__places-left {
  display: grid;
  width: 50%;
  row-gap: 6.35%;
}
.content__button {
  color: #fff;
  background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
}

.content__places-right {
  display: grid;
  width: 50%;
  padding-top: 12.46%;
}

.content__places-picture {
  width: 35.9375vw;
  box-shadow: 0px 4px 4px #000;
}
.content__places-title {
  font-size: 72px;
  line-height: 76px;
  width: 35.9375vw;
  margin: 0;
}
.content__NFT-title {
  color: #aaa;
}
.content__NFT-Artists {
  margin: 0;
}

@media (max-width: 1024px) {
  .content__lead {
    width: 93.75%;
  }
  .content__title {
    width: 73.612%;
    font-size: 75px;
    line-height: 79px;
    font-weight: 900;
  }
  .content__summary {
    align-self: center;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
  }
  .content__image {
    width: 100%;
    height: 33%;
  }

  .content__intro {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 93.75%;
    margin-left: 0;
  }
  .content__subtitle {
    width: 98.195%;
    font-size: 45px;
    line-height: 49px;
    font-weight: 900;
  }
  .content__paragraph-1 {
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    font-weight: 400;
  }
  .content__author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    font-weight: 400;
  }
  .content__paragraph-2 {
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    font-weight: 400;
  }
  .content__photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    width: 92.5%;
    gap: 16px;
    margin-top: 1.96%;
  }

  .content__places {
    width: 77.11%;
    align-self: center;
    margin-top: 1.53%;
    display: grid;
    row-gap: 1.36%;
    grid-template-rows: repeat(4, 1fr);
  }

  .content__places-place {
    width: 99.697%;
    display: grid;
    column-gap: 4.656%;
    /* margin-top: 2.376%; */
    box-sizing: content-box;
    grid-template-columns: repeat(2, 1fr);
  }
  .content__places-left {
    display: grid;
    width: 50%;
    row-gap: 6.35%;
  }
  .content__button {
    color: #fff;
    background-image: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
  }

  .content__places-right {
    display: grid;
    width: 50%;
    padding-top: 12.46%;
  }

  .content__places-picture {
    width: 35.9375vw;
    box-shadow: 0px 4px 4px #000;
  }
  .content__places-title {
    font-size: 72px;
    line-height: 76px;
    width: 35.9375vw;
    margin: 0;
  }
  .content__NFT-title {
    color: #aaa;
  }
  .content__NFT-Artists {
    margin: 0;
  }
}
@media (max-width: 544px) {
  .content__lead {
    width: 90%;
  }
  .content__title {
    width: 79.17%;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
  }
  .content__summary {
    align-self: center;
    width: 79.17%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .content__image {
    width: 100%;
    height: 33%;
  }

  .content__intro {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 0;
  }
  .content__subtitle {
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
  }
  .content__paragraph-1 {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }
  .content__author {
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    font-weight: 400;
  }
  .content__paragraph-2 {
    width: 100%;
    font-size: 16px;
    line-height: 26.08px;
    font-weight: 400;
  }
  .content__photo-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
    width: 92.5%;
    gap: 16px 16px;
    margin-top: 1.96%;
  }

  .content__places {
    width: 77.11%;
    align-self: center;
    margin-top: 1.53%;
    display: grid;
    row-gap: 1.36%;
    grid-template-rows: repeat(4, 1fr);
  }

  .content__places-place {
    width: 99.697%;
    display: grid;
    column-gap: 4.656%;
    /* margin-top: 2.376%; */
    box-sizing: content-box;
    grid-template-columns: repeat(2, 1fr);
  }
  .content__places-left {
    display: grid;
    width: 50%;
    row-gap: 6.35%;
  }
  .content__button {
    color: #fff;
    background-image: linear-gradient(
      90deg,
      #0278fe 0% 100%,
      #003a7b 100% 100%
    );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0;
  }

  .content__places-right {
    display: grid;
    width: 50%;
    padding-top: 12.46%;
  }

  .content__places-picture {
    width: 35.9375vw;
    box-shadow: 0px 4px 4px #000;
  }
  .content__places-title {
    font-size: 72px;
    line-height: 76px;
    width: 35.9375vw;
    margin: 0;
  }
  .content__NFT-title {
    color: #aaa;
  }
  .content__NFT-Artists {
    margin: 0;
  }
}
