.header {
  background-color: #2a2c2f;
  color: #fff;
  display: flex;
  justify-content: center;
}
.header__image {
  margin-top: 34px;
  width: 19.91%;
}
@media (max-width: 1024px) {
  .header__image {
    width: 30%;
  }
}
@media (max-width: 544px) {
  .header__image {
    width: 37.6%;
  }
}
